{{!------------------------------
To add a new social icon simply duplicate one of the list items from below
and change the class in the <i> tag to match the desired social network
and then add your link to the <a>. Here is a full list of social network
classes that you can use:

    icon-social-500px
    icon-social-behance
    icon-social-delicious
    icon-social-designer-news
    icon-social-deviant-art
    icon-social-digg
    icon-social-dribbble
    icon-social-facebook
    icon-social-flickr
    icon-social-forrst
    icon-social-foursquare
    icon-social-github
    icon-social-google-plus
    icon-social-hi5
    icon-social-instagram
    icon-social-lastfm
    icon-social-linkedin
    icon-social-medium
    icon-social-myspace
    icon-social-path
    icon-social-pinterest
    icon-social-rdio
    icon-social-reddit
    icon-social-skype
    icon-social-spotify
    icon-social-stack-overflow
    icon-social-steam
    icon-social-stumbleupon
    icon-social-treehouse
    icon-social-tumblr
    icon-social-twitter
    icon-social-vimeo
    icon-social-xbox
    icon-social-yelp
    icon-social-youtube
    icon-social-zerply
    icon-mail

--------------------------------}}

<nav class="cover-navigation navigation--social">
  <ul class="navigation">

    <li class="navigation__item">
      <a href="mailto:florent.guilleux@gmail.com" title="Email">
        <i class='icon icon-mail'></i>
        <span class="label">Email</span>
      </a>
    </li>

    <li class="navigation__item">
      <a href="https://github.com/Florent2" title="GitHub">
        <i class='icon icon-social-github'></i>
        <span class="label">GitHub</span>
      </a>
    </li>

    <li class="navigation__item">
      <a href="http://www.linkedin.com/in/florentguilleux" title="LinkedIn">
        <i class='icon icon-social-linkedin'></i>
        <span class="label">LinkedIn</span>
      </a>
    </li>

    <li class="navigation__item">
      <a href="http://stackoverflow.com/users/117704/florent2" title="stackoverflow">
        <i class='icon icon-social-stack-overflow'></i>
        <span class="label">stackoverflow</span>
      </a>
    </li>

    <li class="navigation__item">
      <a href="http://twitter.com/Florent2" title="Twitter">
        <i class='icon icon-social-twitter'></i>
        <span class="label">Twitter</span>
      </a>
    </li>

    <li class="navigation__item">
      <a href="https://speakerdeck.com/florent2" title="Presentations">
        <i class='icon icon-projection-screen'></i>
        <span class="label">Presentations</span>
      </a>
    </li>

    <li class="navigation__item">
      <a href="https://gist.github.com/1220951" title="Self training">
        <i class='icon icon-book'></i>
        <span class="label">Self training</span>
      </a>
    </li>
  </ul>
</nav>
